body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "sidebar box3 box4 box4"
    "sidebar box5 box5 box6"
    "sidebar box7 box8 box9"
    "sidebar box10 box10 box10";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 120px;
  gap: 5px;
  height: 100vh;
  background: white;
}

.item {
  background: seagreen;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

.item1 { grid-area: header; }
.item2 { grid-area: sidebar; }
.item3 { grid-area: box3; }
.item4 { grid-area: box4; }
.item5 { grid-area: box5; }
.item6 { grid-area: box6; }
.item7 { grid-area: box7; }
.item8 { grid-area: box8; }
.item9 { grid-area: box9; }
.item10 { grid-area: box10; }
